In [11]:
#classes and objects
class dog:
    atr="mammal"
    def __init__(self,name):
        self.name=name
Tommy=dog("Tommy")
Rodger=dog("Rodger")
print("Rodger is a ",Rodger.atr)
print("Tommy is also a",Tommy.atr)
print("My name is",Rodger.name)
print("My name is ",Tommy.name)

Rodger is a  mammal
Tommy is also a mammal
My name is Rodger
My name is  Tommy

In [12]:
#polymorphism
class Bird:
    def intro(self):
        print("There are many types of birds")
    def flight(self):
        print("Most of the birds can fly but some cannot")
class Sparrow(Bird):
    def flight(self):
        print("Sparrow can fly")
class Duck(Bird):
    def flight(self):
        print("Duck cannot able to fly")
bird=Bird()
sparrow=Sparrow()
duck=Duck()
bird.intro()
bird.flight()
sparrow.intro()
sparrow.flight()
duck.intro()
duck.flight()

There are many types of birds
Most of the birds can fly but some cannot
There are many types of birds
Sparrow can fly
There are many types of birds
Duck cannot able to fly

In [4]:
count = 0
while True:
    print(count)
    count+=1
    if count>=5:
        break

0
1
2
3
4

In [3]:
for x in range(10):
    if(x%2==0):
        continue
    print(x)

1
3
5
7
9

In [5]:
count = 0
while count<5:
    print(count)
    count+=1
else:
    print("loop reached till %d" %(count))

0
1
2
3
4
loop reached till 5

In [8]:
for i in range(1,10):
    if(i%5==0):
        break
    print(i)
else:
    print("loop is terminated")

1
2
3
4

In [10]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
even_no=[]
for number in numbers:
    if(number%2==0):
        even_no.append(number)
print(even_no)

[402, 984, 360, 408, 980, 544, 390, 984, 592, 236, 942, 386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918, 412, 566, 826, 248, 866, 950, 626, 104, 58, 512, 24, 892, 894, 742, 958, 842, 688, 854, 440, 380, 126, 328, 470]

In [12]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
for number in numbers:
    if number==237:
        break
    if number%2==1:
        continue
    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

In [6]:
class MyClass:
    variable = "blah"
    
    def function(self):
        print("message inside class")
        
myobjectx = MyClass()
myobjectx.variable

'blah'

In [11]:
class MyClass:
    variable = "blah"
    def function(self):
        print("message inside class")
myobjectx = MyClass()
myobjecty = MyClass()

myobjectx.variable = "python"

print(myobjectx.variable)
print(myobjecty.variable)

python
blah

In [13]:
class MyClass:
    variable = "blah"
    
    def function(self):
        print("message inside class")
        
myobjectx = MyClass()
myobjectx.function()

message inside class

In [14]:
class Numberholder:
    def __init__(self,number):
        self.number = number

In [17]:
class Vehicle:
    def description(self):
            desc_str = "%s is a %s %s worth $%f" %(self.name,self.kind,self.color,self.value)
            return desc_str
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car2.description())

Fer is a convertible red worth $60000.000000
Jump is a van blue worth $10000.000000